doctype html
html(lang="en")
  head
    title Panda world!
    meta(charset="utf-8")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8")
    link(rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8")
    link(rel="stylesheet" href="css/animate.css" media="screen" title="no title" charset="utf-8")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
  body
    div(class="col-md-3 center-block no-float text-center top-space")
      img(src="img/panda.png" alt="" class="animated fadeIn")
      h1(class="pacifico big green animated fadeIn delay-1") Animal World
      div(class="animated fadeInDown delay-2")
        h2 Our panda bears!
        nav(class="middle")
          a(href="/menu" class="right-space") Menu
          a(href="aboutus.html" class="right-space") About us
          a(href="contact.html") Contact
    script(scr="https://code.jquery.com/jquery-2.1.1.min.js")
    script(scr="js/main.js")
