doctype html
html(lang="en")
  head
    title Panda world!
    meta(charset="utf-8")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8")
    link(rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8")
    link(rel="stylesheet" href="css/animate.css" media="screen" title="no title" charset="utf-8")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
  body
    nav(class="set-gray large-padding text-center")
      ul(class="no-list mediano")
        li(class="col-md-3 inline-block")
          a(href="index.html") Home
        li(class="col-md-3 inline-block")
          a(href="aboutus.html") About us
        li(class="col-md-3")
          a(href="contact.html") Contact
    block content
