extends ../layout.jade
block content
  h2(class="pacifico big green") Menú
  p Quality products
  each product in products
    div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
      h3(class="pacifico")= product.title
      img(scr="#{ product.imageUrl }" class="col-xs-7 col-md-4 no-float")
      p(style="margin-top:1em;") #[small(class="lato small") #{product.pricing}USD]
